@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--text: oklch(11.83% 0.046 280.65);
	--background: oklch(95.41% 0.009 286.22);
	--primary: oklch(56.06% 0.242 261.50);
	--secondary: oklch(96.93% 0.014 264.50);
	--accent: oklch(56.06% 0.242 261.50);

	--text-50: oklch(94.04% 0.026 288.32);
	--text-100: oklch(87.78% 0.054 287.59);
	--text-200: oklch(75.49% 0.111 285.75);
	--text-300: oklch(63.40% 0.171 282.69);
	--text-400: oklch(52.25% 0.226 277.40);
	--text-500: oklch(43.73% 0.266 269.48);
	--text-600: oklch(37.34% 0.224 269.98);
	--text-700: oklch(30.66% 0.179 270.85);
	--text-800: oklch(23.66% 0.130 272.49);
	--text-900: oklch(16.21% 0.076 276.57);
	--text-950: oklch(11.83% 0.046 280.65);

	--background-50: oklch(95.41% 0.009 286.22);
	--background-100: oklch(90.51% 0.020 285.99);
	--background-200: oklch(81.05% 0.039 285.49);
	--background-300: oklch(71.12% 0.062 284.70);
	--background-400: oklch(60.96% 0.087 283.50);
	--background-500: oklch(50.83% 0.111 281.71);
	--background-600: oklch(43.38% 0.094 281.73);
	--background-700: oklch(35.85% 0.073 282.05);
	--background-800: oklch(27.90% 0.051 282.58);
	--background-900: oklch(19.04% 0.030 283.16);
	--background-950: oklch(14.36% 0.015 284.32);

	--primary-50: oklch(94.94% 0.024 259.82);
	--primary-100: oklch(89.97% 0.049 260.89);
	--primary-200: oklch(79.89% 0.101 261.41);
	--primary-300: oklch(70.44% 0.155 260.71);
	--primary-400: oklch(61.88% 0.206 260.54);
	--primary-500: oklch(54.88% 0.250 261.78);
	--primary-600: oklch(46.66% 0.209 261.58);
	--primary-700: oklch(38.07% 0.167 261.23);
	--primary-800: oklch(28.97% 0.122 260.50);
	--primary-900: oklch(19.39% 0.070 257.30);
	--primary-950: oklch(13.98% 0.043 252.82);

	--secondary-50: oklch(94.74% 0.025 263.33);
	--secondary-100: oklch(89.57% 0.050 264.28);
	--secondary-200: oklch(79.28% 0.104 263.70);
	--secondary-300: oklch(69.41% 0.160 262.86);
	--secondary-400: oklch(60.48% 0.214 262.15);
	--secondary-500: oklch(53.32% 0.260 262.64);
	--secondary-600: oklch(45.38% 0.217 262.45);
	--secondary-700: oklch(37.08% 0.173 262.12);
	--secondary-800: oklch(28.31% 0.126 261.41);
	--secondary-900: oklch(18.86% 0.073 258.90);
	--secondary-950: oklch(13.63% 0.045 254.84);

	--accent-50: oklch(94.94% 0.024 259.82);
	--accent-100: oklch(89.97% 0.049 260.89);
	--accent-200: oklch(79.89% 0.101 261.41);
	--accent-300: oklch(70.44% 0.155 260.71);
	--accent-400: oklch(61.88% 0.206 260.54);
	--accent-500: oklch(54.88% 0.250 261.78);
	--accent-600: oklch(46.66% 0.209 261.58);
	--accent-700: oklch(38.07% 0.167 261.23);
	--accent-800: oklch(28.97% 0.122 260.50);
	--accent-900: oklch(19.39% 0.070 257.30);
	--accent-950: oklch(13.98% 0.043 252.82);

	.animate-radial-pulse {
		background: radial-gradient(
			120% 80% at 40% 0%,
			var(--background-50) 0%,
			var(--secondary-50) 15%,
			var(--secondary-100) 50%
		);
		background-position: 40% 0%;
		animation: radial-pulse 3s ease-in-out infinite;
	}
}

.dark {
	--text: oklch(94.04% 0.026 288.32);
	--background: oklch(14.36% 0.015 284.32);
	--primary: oklch(53.24% 0.242 261.78);
	--secondary: oklch(11.26% 0.031 248.87);
	--accent: oklch(53.24% 0.242 261.78);

	--text-50: oklch(11.83% 0.046 280.65);
	--text-100: oklch(16.21% 0.076 276.57);
	--text-200: oklch(23.66% 0.130 272.49);
	--text-300: oklch(30.66% 0.179 270.85);
	--text-400: oklch(37.34% 0.224 269.98);
	--text-500: oklch(43.73% 0.266 269.48);
	--text-600: oklch(52.25% 0.226 277.40);
	--text-700: oklch(63.40% 0.171 282.69);
	--text-800: oklch(75.49% 0.111 285.75);
	--text-900: oklch(87.78% 0.054 287.59);
	--text-950: oklch(94.04% 0.026 288.32);

	--background-50: oklch(14.36% 0.015 284.32);
	--background-100: oklch(19.04% 0.030 283.16);
	--background-200: oklch(27.90% 0.051 282.58);
	--background-300: oklch(35.85% 0.073 282.05);
	--background-400: oklch(43.38% 0.094 281.73);
	--background-500: oklch(50.83% 0.111 281.71);
	--background-600: oklch(60.96% 0.087 283.50);
	--background-700: oklch(71.12% 0.062 284.70);
	--background-800: oklch(81.05% 0.039 285.49);
	--background-900: oklch(90.51% 0.020 285.99);
	--background-950: oklch(95.41% 0.009 286.22);

	--primary-50: oklch(13.98% 0.043 252.82);
	--primary-100: oklch(19.39% 0.070 257.30);
	--primary-200: oklch(28.97% 0.122 260.50);
	--primary-300: oklch(38.07% 0.167 261.23);
	--primary-400: oklch(46.66% 0.209 261.58);
	--primary-500: oklch(54.88% 0.250 261.78);
	--primary-600: oklch(61.88% 0.206 260.54);
	--primary-700: oklch(70.44% 0.155 260.71);
	--primary-800: oklch(79.89% 0.101 261.41);
	--primary-900: oklch(89.97% 0.049 260.89);
	--primary-950: oklch(94.94% 0.024 259.82);

	--secondary-50: oklch(13.63% 0.045 254.84);
	--secondary-100: oklch(18.86% 0.073 258.90);
	--secondary-200: oklch(28.31% 0.126 261.41);
	--secondary-300: oklch(37.08% 0.173 262.12);
	--secondary-400: oklch(45.38% 0.217 262.45);
	--secondary-500: oklch(53.32% 0.260 262.64);
	--secondary-600: oklch(60.48% 0.214 262.15);
	--secondary-700: oklch(69.41% 0.160 262.86);
	--secondary-800: oklch(79.28% 0.104 263.70);
	--secondary-900: oklch(89.57% 0.050 264.28);
	--secondary-950: oklch(94.74% 0.025 263.33);

	--accent-50: oklch(13.98% 0.043 252.82);
	--accent-100: oklch(19.39% 0.070 257.30);
	--accent-200: oklch(28.97% 0.122 260.50);
	--accent-300: oklch(38.07% 0.167 261.23);
	--accent-400: oklch(46.66% 0.209 261.58);
	--accent-500: oklch(54.88% 0.250 261.78);
	--accent-600: oklch(61.88% 0.206 260.54);
	--accent-700: oklch(70.44% 0.155 260.71);
	--accent-800: oklch(79.89% 0.101 261.41);
	--accent-900: oklch(89.97% 0.049 260.89);
	--accent-950: oklch(94.94% 0.024 259.82);
	

	--color-accent-foreground: var(--text);

	.animate-radial-pulse {
		background: radial-gradient(
			120% 80% at 40% 0%,
			var(--background-900) 0%,
			var(--secondary-800) 20%,
			var(--secondary-700) 35%,
			var(--secondary-600) 70%
		);
		background-position: 40% 0%;
		animation: radial-pulse 3s ease-in-out infinite;
	}
}

@theme {
	--color-text: var(--text);
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);

	--color-foreground: var(--text);
	--color-card: var(--background);
	--color-card-foreground: var(--text);
	--color-popover: var(--background);
	--color-popover-foreground: var(--text);
	--color-primary-foreground: var(--background);
	--color-secondary-foreground: var(--text);
	--color-muted: var(--background-100);
	--color-muted-foreground: var(--text-500);
	--color-accent-foreground: var(--background);
	--color-destructive: oklch(0.577 0.245 27.325);
	--color-destructive-foreground: var(--background);
	--color-border: var(--background-200);
	--color-input: var(--background-200);
	--color-ring: var(--primary);

	--color-chart-1: oklch(0.646 0.222 41.116);
	--color-chart-2: oklch(0.6 0.118 184.704);
	--color-chart-3: oklch(0.398 0.07 227.392);
	--color-chart-4: oklch(0.828 0.189 84.429);
	--color-chart-5: oklch(0.769 0.188 70.08);

	--color-sidebar: var(--background);
	--color-sidebar-foreground: var(--text);
	--color-sidebar-primary: var(--primary);
	--color-sidebar-primary-foreground: var(--background);
	--color-sidebar-accent: var(--background-100);
	--color-sidebar-accent-foreground: var(--background);
	--color-sidebar-border: var(--background-200);
	--color-sidebar-ring: var(--primary);

	--radius: 0.625rem;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

}

@keyframes radial-pulse {
	0%, 100% {
		background-size: 100% 100%;
	}
	50% {
		background-size: 150% 150%;
	}
}



body {
	font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
